<!--<div class="card">-->
<!--  <h5 class="card-title">{{title}}</h5>-->

<!--  <p class="card-text">-->
<!--    {{ text }}-->
<!--  </p>-->

<!--  <p class="card-text">-->
<!--    {{ price }}-->
<!--  </p>-->

<!--  <img [src]="image" class="card-img" width="50px" height="50px">-->

<!--  <a [routerLink]="['/details/', id]" class="card-link">-->
<!--    Więcej-->
<!--  </a>-->
<!--</div>-->

<div class="wrapper">
  <div class="card m_card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>

      <p class="card-text">
        {{ text }}
      </p>

      <p class="card-text">
        {{ price }}
      </p>

      <img [src]="image" class="card-img">

      <a [routerLink]="['/details/', id]" class="card-link">
        Więcej
      </a>
    </div>
  </div>
</div>

